@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader&display=swap');



body {
  background-color:#fafafa;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;

}


.nav-bar-container {
  
  display: flex;
  justify-content: flex-end;
  height: 70px;  
  font-family: Arial;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  padding-bottom: .5em;
  top: 0; 
  position: fixed;
  width: 100%;
  background-color: #fafafa;
  border-bottom: 1px solid #3f1dcb;
 
  
 

}


.nav-bar-container .nav-bar-logo {
  margin-right: auto;
  font-size: 2.5em;
  color: #3f1dcb;
  font-family: 'Francois One', sans-serif;
  align-self: center;
}

.nav-bar-container .nav-bar-search {
  
  border: 0px;
  background-color: #fafafa;
  width: 20em;
  height: 100%;
  font-size: 2em;
  color: #3f1dcb;
  
}

.nav-bar-container .nav-bar-search:focus {
  outline: none;
}
.search-container {
  margin-right: auto;
 
}
.search-svg {
  font-size: 1.5em;
  color: #7C7882;
}

.search-svg:hover {
  font-size: 1.5em;
  color:#7c4dff;
  cursor: pointer;
}

.hamburger-svg {
  font-size: 3rem;
  align-self: center;
  color: #3f1dcb;
  padding-right: 1em;
  padding-left: .2em;
  cursor: pointer;
  transition: color 0.3s linear;
  

}
.hamburger-svg:hover {
  
  color: pink;
  
}


.body-div {
  display: flex;
  flex-direction: row;
  
}

.side-nav-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  padding: 2rem;
  transition: transform 0.3s ease-in-out;
  margin-top: 70px;
  position: fixed;
  
}

.side-nav-bar-container a {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: bold;
  letter-spacing: 0.5rem;
  text-decoration: none;
  transition: color 0.3s linear;

  }

  .side-nav-bar-container a:hover {
    color: pink;
  }

  .news-container {
    width: 80%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    margin-left: 25em;
    margin-top: 5em;

    
    
  }

  .news-card-container {
    margin: .2em 0;
    background-color:#fafafa;
    width: 80%;
    border: 2px solid black;
    display: flex;
    border-radius: 20px;
    transition: background-color 0.3s linear;
    margin-bottom: 2em;
    padding: 1em;



  

  }

  

  .news-card-article-info {
    width: 100%;
    display: flex;
    
    flex-direction: column;
    text-align: left;
    color: #3f1dcb;
    
    
  }

  .article-heading {
    color:#3f1dcb;
    font-size: 2rem;
    font-family: 'Newsreader', serif;
    
   
   
    
  }

  .article-image {
    height:120px;
    width: 150px;
    object-fit: scale-down;
    border-radius: 15%;
    margin-left: .5em;
    margin-right: .5em;
    
  }

  

  .active-link {
    color: #be69f0;
    border-bottom: 2px solid #be69f0;
  }

  .login {
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
  }

  .account-container {
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .news_org {
    margin: 5px;
  }
  .news_org_img {
    height: 200px;
    width: 400px
  }
  .topic {
    margin: 5px;
  }
  .topic_img {
    height: 200px;
    width: 400px
  }

  .follow_button {
    width: 50%;
    margin: auto;
  }