@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');



.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #ffff8b;
}


.nav-bar-container {
  
  display: flex;
  justify-content: flex-end;
  height: 70px;  
  font-family: Arial;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  padding-bottom: .5em;
  background-color: #ffee58;
  
 

}


.nav-bar-container .nav-bar-logo {
  margin-right: auto;
  font-size: 2.5em;
  color: #3f1dcb;
  font-family: 'Francois One', sans-serif;
  align-self: center;
}

.nav-bar-container .nav-bar-search {
  
  border: 0px;
  background-color: #ffee58;
  width: 20em;
  height: 100%;
  font-size: 2em;
  color: #3f1dcb;
  border-bottom: 1px solid #c9bc1f;
  
}

.nav-bar-container .nav-bar-search:focus {
  outline: none;
}
.search-container {
  margin-right: auto;
 
}
.search-svg {
  font-size: 1.5em;
  color: #7C7882;
}

.search-svg:hover {
  font-size: 1.5em;
  color:#7c4dff;
  cursor: pointer;
}

.hamburger-svg {
  font-size: 3rem;
  align-self: center;
  color: #3f1dcb;
  padding-right: 1em;
  padding-left: .2em;
  cursor: pointer;
  transition: color 0.3s linear;

}
.hamburger-svg:hover {
  
  color: pink;
  
}


.body-div {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.side-nav-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffee58;
  text-align: left;
  padding: 2rem;
  transition: transform 0.3s ease-in-out;
  
}

.side-nav-bar-container a {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: bold;
  letter-spacing: 0.5rem;
  text-decoration: none;
  transition: color 0.3s linear;

  }

  .side-nav-bar-container a:hover {
    color: pink;
  }

  .news-container {
    width: 60%;
    border: 2px solid red;
  }